# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Slurm files
**/sr

# Python venv
venv/

# Singularity/Apptainer containers
*.sif
*.tar

examples/openmpi-hello_nodename/singularity/a.out

cwl-conformance-tests/runs/
cwl-conformance-tests/*.aux
cwl-conformance-tests/*.log
run.log

workflows/mpich-sr/logs/
workflows/mpich-sr/table.aux
workflows/mpich-sr/table.log
